apiVersion: v1
kind: Service
metadata:
  name: kubernetes-elixir-example-service
spec:
  ports:
    - port: 8080
      targetPort: 8000
      protocol: TCP
      name: http
  selector:
    app: kubernetes-elixir-example
  type: LoadBalancer
