use Mix.Config

# Configure your database
config :kubernetes_elixir_example, KubernetesElixirExample.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "postgres",
  database: "kubernetes_elixir_example_dev",
  hostname: "localhost",
  pool_size: 10
